.App {
  text-align: center;
}

.header {
  background-color: #000;
  height: 150px;
  color: white;
}

.header-img {
    height: 150px;
}

.header-title {
  font-size: 1.5em;
  position: absolute;
  top: 20px;
  animation: choo-choo infinite 10s linear;
}

.joke {
  position: absolute;
  top: 90px;
    left: 20px;
}

@keyframes choo-choo {
  from { left: 90%; }
  to { left: 0; }
}

.station-name {
    cursor: pointer;
}
.station-to {
    cursor: pointer;
}

.trains-list {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.trains-name {
    text-align: start;
    padding: 5px;
}
.estTime {
    color: red;
}
.oldTime {
    text-decoration: line-through;
}
.realTime {
    min-height: 1em;
}